{% extends 'base.html.twig' %}

{% block body %}
    <h1>Statistiques de la bibliothèque</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Nombre de livres</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
                <tr>
                    <td>{{ stat.auteur }}</td>
                    <td>{{ stat.total }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucune donnée disponible.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}